.num-users-true {
  color: green;
  font-size: 40px;
}

.num-users-false {
  color: red;
  font-size: 30px;
}

.submit-button-false {
  background-color: blue;
  color: white;
}

.submit-button-true {
  background-color: red;
  color: white;
  opacity: 0.6;
}
